/**
* SCSS
* SASS
* LESS
*/

* {
    --cor-nav: rgb(62, 178, 227);
}


body {
    margin: 0;
}

main {
    margin-bottom: 40px;
}

.header {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
}

.barra-nav {
    height: 50px;
    padding-top: 0.5rem;
    /* background-color: rgb(62, 178, 227); */
    background-color: var(--cor-nav);
}

/*.barra-nav ul li {
    float: left;
    margin-left: 20px;
    list-style: none;
}*/

.barra-nav {
    ul {
        li {
            float: left;
            margin-left: 20px;
            list-style: none;
        }
    }
}

.header-sec {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5px;
    padding: 1rem;
    text-align: center;
}

.header h1 {
    text-align: center;
    color: rgb(226, 182, 128);
}

.header-sec img {
    width: 500px;
    height: auto;
    box-shadow: 5px 5px 10px black;
}

.footer {
    width: 100%;
    height: 40px;
    bottom: 0;
    position: fixed;
    background-color: rgb(62, 178, 227);
}

.footer h3 {
    top: 0;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.container {
    margin: 2rem 10%;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

.p {
    width: 60%;
    height: auto;
    margin: 10px auto;
    padding: 15px;
    font-weight: bold;
    box-shadow: 5px 5px 10px black;
}

.botao {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
}

.p,
.botao {
    color: white;
    border: 3px solid lightgray;
    border-radius: 10px;
    background-color: rgb(5, 148, 237);
}
